<div class="card top-space" >
    <div class="fs-headline p-">
        <h2>{{titulo}}</h2>
    </div>
    <div class="p+">
        <strong class="fs-headline display-block tc-red-900">
            {{libro.nombre}}
        </strong>
        <div class="fs-subhead  fs-body-1 mt+">
            Autor: {{libro.autor}}<br>
            Rama: {{libro.rama}}<br>
            Editorial: {{libro.editorial}}<br>
            Año: {{libro.anio}}<br>
        </div>
    </div>
    <div class="card__actions">
        <a href="#/" class="btn btn--m btn--blue btn--flat" lx-ripple>< ATRÁS</a>
        <a href="#/add_libro/" class="btn btn--m btn--green btn--flat" lx-ripple>SELECCIONAR</a>
    </div>
</div>
