<form ng-submit="savePersona()">
    <div class="card top-space">
        <div class="p+">
            <h2>{{titulo}}</h2>
            <div flex-container="row">
                <div flex-item>
                    <lx-text-field label="Nombre">
                        <input type="text" ng-model="persona.nombre">
                    </lx-text-field>
                </div>
            </div>
            <div flex-container="row">
                <div flex-item>
                    <lx-text-field label="Paterno">
                        <input type="text" ng-model="persona.app_paterno">
                    </lx-text-field>
                </div>
            </div>
            <div flex-container="row">
                <div flex-item>
                    <lx-text-field label="Materno">
                        <input type="text" ng-model="persona.app_materno">
                    </lx-text-field>
                </div>
            </div>
            <div flex-container="row">
                <div flex-item>
                    <lx-text-field label="DNI">
                        <input type="text" ng-model="persona.dni">
                    </lx-text-field>
                </div>
            </div>
            <div flex-container="row">
                <div flex-item>
                    <lx-text-field label="CODIGO UNIV.">
                        <input type="text" ng-model="persona.codigo_universitario">
                    </lx-text-field>
                </div>
            </div>
        </div>
        <div class="card__actions">
            <button type="submit" class="btn btn--blue btn--l btn--raised">
                Guardar
            </button>
            <a href="#/" type="submit" class="btn btn--red btn--l btn--raised">
                Cancelar
            </a>
        </div>
    </div>
</form>
